@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center" style="border:1px solid;border-radius:5px;height:197px">
    <div style="float:left">
        <img src="./Images/paratus.jpg" alt="Property Image" style="width:300px;padding:10px"/>
    </div>
     <div style="float:left">
    <p style="text-align:left;margin-top:4px"><b>Vanamayil nagar </b><br />
        <b>Thillai Nagar,Near Akshaya brindavan</b><br />
        </p>
    <p><div style="border:1px solid;width:160px;border-radius:5px;background-color:#f5f5f5;margin-top: 80px">
    Plots/Land<br />
    1200-2400Sqft Plot
</div></p>
    </div>
     <div>
        <p style="margin-top:4px">Aggrement Price<br />24.66L - 48.91L</p>
    <p style="margin-top: 72px;">Last updated on<br />
        <button class="btn btn-primary" id="btnContact">Contact Builder</button></p>
    </div>
</div>
<br />

<div class="text-center" style="border:1px solid;border-radius:5px;height:197px">
    <div style="float:left">
        <img src="./Images/perams.jpg" alt="Property Image" style="width:300px;padding:10px"/>
    </div>
     <div style="float:left">
    <p style="text-align:left;margin-top:4px"><b>Ashok Nagar</b><br />
        <b>Ashok Nagar extesion,Near Petrol bunk</b><br />
        </p>
    <p><div style="border:1px solid;width:160px;border-radius:5px;background-color:#f5f5f5;margin-top: 80px">
    Plots/Land<br />
    1800-2400Sqft Plot
</div></p>
    </div>
     <div>
        <p style="margin-top:4px">Aggrement Price<br />22.66L - 52.91L</p>
    <p style="margin-top: 72px;">Last updated on<br />
        <button class="btn btn-primary" id="btnContact">Contact Builder</button></p>
    </div>
</div>
<br />

<div class="text-center" style="border:1px solid;border-radius:5px;height:197px">
    <div style="float:left">
        <img src="./Images/artha.jpg" alt="Property Image" style="width:300px;padding:10px"/>
    </div>
     <div style="float:left">
    <p style="text-align:left;margin-top:4px"><b>Singaravel Garden</b><br />
        <b>Ayipettai road,Near SRK school</b><br />
        </p>
    <p><div style="border:1px solid;width:160px;border-radius:5px;background-color:#f5f5f5;margin-top: 80px">
    Plots/Land<br />
    1200-1500Sqft Plot
</div></p>
    </div>
     <div>
        <p style="margin-top:4px">Aggrement Price<br />16.66L - 42.91L</p>
    <p style="margin-top: 72px;">Last updated on<br />
        <button class="btn btn-primary" id="btnContact">Contact Builder</button></p>
    </div>
</div>
<br />

<div class="text-center" style="border:1px solid;border-radius:5px;height:197px">
    <div style="float:left">
        <img src="./Images/skp-fortune.jpg" alt="Property Image" style="width:300px;padding:10px"/>
    </div>
     <div style="float:left">
    <p style="text-align:left;margin-top:4px"><b>Udhayam Garden</b><br />
        <b>Ayipettai road,Near Jayapriya school</b><br />
        </p>
    <p><div style="border:1px solid;width:160px;border-radius:5px;background-color:#f5f5f5;margin-top: 80px">
    Plots/Land<br />
    1200-2400Sqft Plot
</div></p>
    </div>
     <div>
        <p style="margin-top:4px">Aggrement Price<br />10.66L - 22.91L</p>
    <p style="margin-top: 72px;">Last updated on<br />
        <button class="btn btn-primary" id="btnContact">Contact Builder</button></p>
    </div>
</div>
<br />
